
<h1 class="text-center">Edit Application Form</h1>
<%= form_for(@petition, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group row">
    <div class="col-md-12">
      <% if @petition.errors.any? %>
        <div class="card">
          <div class="card-header bg-danger">
            <h3 class=card-title"">
              <%= pluralize(@petition.errors.count, "error") %>
              prohibited this article from being saved:
            </h3>
          </div>
          <div class="card-block">
            <ul>
              <% @petition.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :name %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :name, class: "form-control", placeholder: "John Doe", autofocus: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :dob, "Date of Birth" %>
    </div>
    <div class="col-md-9">
      <%= f.date_field :dob, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :gender %>
    </div>
    <div class="col-md-9">
      <%= f.select :gender, [['Female', 'female'], ['Male', 'male'], ['Other', 'other']], {prompt: "Select Gender"}, {class: "form-control custom-select"} %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :residency_type %>
    </div>
    <div class="col-md-9">
      <%= f.select :residency_type, [['Engagement', 'engagement'], ['Enhancement', 'enhancement'], ['Lotus', 'lotus'], ['Other', 'other']], {prompt: "Select Type"}, {class: "form-control custom-select"}%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :start_date, "Preferred Start Date" %>
    </div>
    <div class="col-md-9">
      <%= f.date_field :start_date, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :duration, "Duration Preference" %>
    </div>
    <div class="col-md-9">
      <%= f.text_field :duration, class: "form-control", placeholder: "2 weeks" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :address %>
    </div>
    <div class="col-md-9">
      <%= f.text_area :address, rows: 5, class:"form-control", placeholder: "234 Moo 3 \nTambon Huay Sai, Amphur Mae Rim \nChiang Mai 50180 \nThailand" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :email %>
    </div>
    <div class="col-md-9">
      <%= f.email_field :email, class:"form-control", placeholder: "dirartistresidence@ptis.ac.th"%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-md-3">
      <%= f.label :phone %>
    </div>
    <div class="col-md-9">
      <%= f.telephone_field :phone, class:"form-control", placeholder: "+66 (0) 53 301 500"%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-12">
      <%= f.label :social_media, "Link to website, social media (Instagram, Twitter, Facebook, etc.) and/or digital portfolio." %>
    </div>
    <div class="col-12">
      <%= f.text_area :social_media, rows: 5, class:"form-control", placeholder: "https://twitter.com/PTISschool\nhttps://www.facebook.com/PTISschool\nhttps://www.artistresidencythailand.com" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-12">
      <%= f.label :practice_medium, "Describe your artistic practice and primary medium." %>
    </div>
    <div class="col-12">
      <%= f.text_area :practice_medium, rows: 5, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-12">
      <%= f.label :artistic_statement, "Please provide a brief artist statement." %>
    </div>
    <div class="col-12">
      <%= f.text_area :artistic_statement, rows: 5, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-12">
      <%= f.label :history, "Please give an overview of any previous workshop, or master class delivery experience." %>
    </div>
    <div class="col-12">
      <%= f.text_area :history, rows: 5, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-12">
      <%= f.label :intention, "Please give an overview of intended studio work and / or artistic exploration for your residency." %>
    </div>
    <div class="col-12">
      <%= f.text_area :intention, rows: 5, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-12">
      <%= f.label :offering, "Please give an overview of the workshop, skills and or master class sessions that you would be willing to offer, as well as the age ranges you are comfortable with, or would like experience delivering to (our young people engaging with this programme range from 4 – 18 years)." %>
    </div>
    <div class="col-12">
      <%= f.text_area :offering, rows: 5, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-12">
      <%= f.label :references, "Please provide contact details for x 2 references and list any other relevant information that supports your residency application." %>
    </div>
    <div class="col-12">
      <%= f.text_area :references, rows: 5, class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <%= f.submit("Update Application", class: "btn btn-primary btn-lg float-right") %>
    </div>
  </div>
<% end %>
