<!DOCTYPE html>
<html>
  <head>
    <title>ArtistResidency</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="header">
      <nav id="navbar-primary" class="navbar navbar-expand-lg fixed-top sps sps--abv">
        <div class="container">
          <a class="navbar-brand" href="/">Artist Residency Thailand</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerART" aria-controls="navbarTogglerART" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarTogglerART">
            <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <%= link_to "Home <span class='sr-only'>(current)".html_safe, root_path, class: " nav-link #{ 'active' if current_page?(root_path) } " %>
              </li>
              <li class="nav-item">
                <%= link_to "Programmes", root_path(anchor: 'section-programmes'), class: "nav-link" %>
              </li>
              <li class="nav-item"><%= link_to "Portfolio", root_path(anchor: 'section-portfolio'), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Contact", root_path(anchor: 'section-contact'), class: "nav-link" %></li>
              <li class="nav-item">
                <%= link_to "Apply", new_application_path, class: " nav-link #{ 'active' if current_page?(new_application_path)} " %>
              </li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <% flash.each do |key, message| %>
            <div class="text-center alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
